Hipótesis:

Las hipótesis que os planteamos son:

- ¿Es Australia el sitio más peligroso y letal para estar relajada en la playa?
- ¿Hay diferencias entre los países en los ataques a hombres y mujeres?
- ¿Cuáles son las edades que más sufren ataques?
- Independientemente de la edad, ¿sufren los hombres más ataques que las mujeres.
- ¿En qué mes ocurren más ataques?
- ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
- ¿Cómo han evolucionado los ataques a lo largo del tiempo?

In [37]:
import pandas as pd
import numpy as np
import re
import random as ra

In [38]:
df = pd.read_csv("datos/ataques_pandas7.csv", index_col=0)


**Pair Programming EDA I**

Objetivos
Los objetivos de hoy son:
1. Haced una exploración inicial del dataframe:

¿Cuál es el número de filas y columnas?

In [39]:
df.head(1)

,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,...,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED:22,UNNAMED: 23,UNNAMED: 0_y,INJURY,fecha,FATALIDAD,SEX_UAL
CASE_NUMBER,,,,,,,,,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,...,NaN,NaN,NaN,NaN,NaN,5472,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,F

In [40]:
df.shape

(1672, 28)

El df tiene 1672 filas y 28 columnas.

¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [41]:
porcentajes= (df.isnull().sum() * 100) / df.shape[0]

In [42]:
columnas = ['columna', 'porcentaje']

In [43]:
df_null= pd.DataFrame(porcentajes).T

In [44]:
df_null

,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,...,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED:22,UNNAMED: 23,UNNAMED: 0_y,INJURY,fecha,FATALIDAD,SEX_UAL
0,0.0,0.0,0.598086,2.751196,3.050239,1.854067,0.538278,10.167464,9.210526,9.569378,...,89.832536,89.832536,89.832536,100.0,100.0,0.0,0.478469,99.461722,0.777512,0.0

¿Qué tipos de datos hay en cada columna?

In [45]:
df.dtypes

YEAR                      float64
TYPE                       object
COUNTRY                    object
AREA                       object
LOCATION                   object
ACTIVITY                   object
NAME                       object
SEX_                       object
AGE                        object
TIME                       object
SPECIES_                   object
PDF                        object
HREF                       object
UNNAMED: 0_x              float64
CASE NUMBER                object
SPECIES                    object
INVESTIGATOR OR SOURCE     object
HREF FORMULA               object
CASE NUMBER.1              object
CASE NUMBER.2              object
ORIGINAL ORDER            float64
UNNAMED:22                float64
UNNAMED: 23               float64
UNNAMED: 0_y                int64
INJURY                     object
fecha                      object
FATALIDAD                  object
SEX_UAL                    object
dtype: object

Extraed la información general del dataframe.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1672 entries, 2018.06.25 to nan
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    1672 non-null   float64
 1   TYPE                    1672 non-null   object
 2   COUNTRY                 1662 non-null   object
 3   AREA                    1626 non-null   object
 4   LOCATION                1621 non-null   object
 5   ACTIVITY                1641 non-null   object
 6   NAME                    1663 non-null   object
 7   SEX_                    1502 non-null   object
 8   AGE                     1518 non-null   object
 9   TIME                    1512 non-null   object
 10  SPECIES_                1502 non-null   object
 11  PDF                     1672 non-null   object
 12  HREF                    1672 non-null   object
 13  UNNAMED: 0_x            170 non-null    float64
 14  CASE NUMBER             170 non-null    object
 15  SPECIES                 44 non-null     object
 16  INVESTIGATOR OR SOURCE  169 non-null    object
 17  HREF FORMULA            170 non-null    object
 18  CASE NUMBER.1           170 non-null    object
 19  CASE NUMBER.2           170 non-null    object
 20  ORIGINAL ORDER          170 non-null    float64
 21  UNNAMED:22              0 non-null      float64
 22  UNNAMED: 23             0 non-null      float64
 23  UNNAMED: 0_y            1672 non-null   int64
 24  INJURY                  1664 non-null   object
 25  fecha                   9 non-null      object
 26  FATALIDAD               1659 non-null   object
 27  SEX_UAL                 1672 non-null   object
dtypes: float64(5), int64(1), object(22)
memory usage: 378.8+ KB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [47]:
categoricas= df.select_dtypes (include = "object")
categoricas.head()

,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,SPECIES_,...,CASE NUMBER,SPECIES,INVESTIGATOR OR SOURCE,HREF FORMULA,CASE NUMBER.1,CASE NUMBER.2,INJURY,fecha,FATALIDAD,SEX_UAL
CASE_NUMBER,,,,,,,,,,,,,,,,,,,,,
2018.06.25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,...,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,F
2018.06.03.a,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,...,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,M
2018.05.26.b,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",...,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,M
2018.05.24,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,...,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,M
2018.05.13.a,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,...,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg from hooked shark PROVOKED ...,NaN,N,M

In [48]:
numericas = df.select_dtypes(include = "float64")
numericas.head()

                YEAR  UNNAMED: 0_x  ORIGINAL ORDER  UNNAMED:22  UNNAMED: 23
CASE_NUMBER
2018.06.25    2018.0           NaN             NaN         NaN          NaN
2018.06.03.a  2018.0           NaN             NaN         NaN          NaN
2018.05.26.b  2018.0           NaN             NaN         NaN          NaN
2018.05.24    2018.0           NaN             NaN         NaN          NaN
2018.05.13.a  2018.0           NaN             NaN         NaN          NaN

¿Cuáles son los principales estádisticos de los dataframes?

In [49]:
numericas.describe()

              YEAR  UNNAMED: 0_x  ORIGINAL ORDER  UNNAMED:22  UNNAMED: 23
count  1672.000000    170.000000      170.000000         0.0          0.0
mean   1832.688397   6216.500000       86.500000         NaN          NaN
std     528.969901     49.218899       49.218899         NaN          NaN
min       0.000000   6132.000000        2.000000         NaN          NaN
25%    1964.000000   6174.250000       44.250000         NaN          NaN
50%    1997.000000   6216.500000       86.500000         NaN          NaN
75%    2008.000000   6258.750000      128.750000         NaN          NaN
max    2018.000000   6301.000000      171.000000         NaN          NaN

In [55]:
categoricas.describe()

,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,SPECIES_,...,CASE NUMBER,SPECIES,INVESTIGATOR OR SOURCE,HREF FORMULA,CASE NUMBER.1,CASE NUMBER.2,INJURY,fecha,FATALIDAD,SEX_UAL
count,1672,1662,1626,1621,1641,1663,1502,1518,1512,1502,...,170,44,169,170,170,170,1664,9,1659,1672
unique,6,95,236,1310,404,1536,3,94,248,834,...,170,35,142,170,170,170,99,6,2,2
top,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,19,11h00,White shark,...,1800.00.00,Bull shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,Lacerations to leg from hooked shark PROVOKED ...,Jul,N,M
freq,1432,741,346,73,426,97,1294,70,74,74,...,1,4,9,1,1,1,1502,2,1573,1378

Extraed los valores únicos su frecuencia.

BONUS presenta los resultados en un dataframe.

In [51]:
for col in categoricas.columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(categoricas[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

En la columna TYPE tenemos los siguientes valores unicos
['Boating' 'Unprovoked' 'Provoked' 'Invalid' 'Sea Disaster' 'Boat']

 ------------------------------------------------------------

En la columna COUNTRY tenemos los siguientes valores unicos
['USA' 'BRAZIL' 'AUSTRALIA' 'ENGLAND' 'COSTA RICA' 'MALDIVES'
 'SOUTH AFRICA' 'CUBA' 'SPAIN' 'BAHAMAS' 'INDONESIA' 'EGYPT' 'NEW ZEALAND'
 'FRENCH POLYNESIA' 'NEW CALEDONIA' 'ECUADOR' 'THAILAND' 'REUNION'
 'MEXICO' 'JAMAICA' 'ITALY' 'PAPUA NEW GUINEA' 'RUSSIA' 'SEYCHELLES'
 'VIETNAM' 'GUAM' 'MOZAMBIQUE' 'SCOTLAND' 'UNITED KINGDOM' 'TAIWAN'
 'CROATIA' 'FIJI' 'TONGA' 'ST. MAARTIN' 'GRAND CAYMAN' 'VANUATU'
 'VENEZUELA' 'TURKS & CAICOS' 'OKINAWA' 'MARSHALL ISLANDS' 'MAURITIUS'
 'HONG KONG' 'JAPAN' 'SOUTH KOREA' 'ISRAEL' 'MICRONESIA' 'COLUMBIA'
 'NEW BRITAIN' 'PALAU' 'SOLOMON ISLANDS' 'FEDERATED STATES OF MICRONESIA'
 'GREECE' 'BRITISH WEST INDIES' 'NORTH PACIFIC OCEAN' 'BERMUDA'
 'PHILIPPINES' 'AMERICAN SAMOA' 'PACIFIC OCEAN' 'SENEGAL' 'ARGENTINA'
 'EL SALVADOR' 'IRAQ' 'PANAMA' 'INDIA' nan 'BARBADOS' 'MARTINIQUE'
 'GUINEA' 'GREENLAND' 'FRANCE' 'MEDITERRANEAN SEA' 'SWEDEN' 'ICELAND'
 'ROATAN' 'Between PORTUGAL & INDIA' 'CANADA' 'KENYA' 'URUGUAY' 'LEBANON'
 'SUDAN' 'DJIBOUTI' 'LIBYA' 'SRI LANKA' 'BAHREIN' 'KOREA' 'IRAN'
 'RED SEA?' 'SINGAPORE' 'MADAGASCAR' 'NICARAGUA' 'KIRIBATI' 'SAUDI ARABIA'
 'BURMA' 'BELIZE' 'ASIA?' 'CEYLON (SRI LANKA)']

 ------------------------------------------------------------

En la columna AREA tenemos los siguientes valores unicos
['California' 'Pernambuco' 'Florida' 'Queensland' 'Cornwall'
 'Cocos Island' 'Western Australia' 'Alifu Alifu Atoll'
 'Western Cape Province' 'Eastern Cape Province' 'Hawaii' 'Victoria'
 'New South Wales' 'Fernando de Noronha' 'Holquin Province'
 'South Australia' 'New York' 'Castellón' 'Massachusetts' 'South Carolina'
 'New Providence ' 'Bali' 'Alicante Province' 'Texas' 'North Carolina'
 'Suez' 'North Island' 'Tuamotos' 'Grand Terre' 'Galapagos Islands'
 'Phuket' 'Alicante' 'Tasmania' 'Le Port' 'Rangiroa'
 'Saint-Gilles-les-Bains' 'Bora Bora' 'd\x92Étang-Salé' 'Abaco Islands'
 'Alabama' 'Louisiana' 'West End' 'Delaware' 'Society Islands'
 'South Island' 'North Province' 'Oregon' 'Exuma Islands'
 'Santa Cruz Island' 'Saint-Gilles' 'Quintana Roo' 'Tuamotus'
 'St. Catherine' 'Sinaloa' 'Sardinia' 'Guerrero' 'Puerto Rico'
 'Central Province' 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)'
 'Praslin' 'KwaZulu-Natal' ' Loyalty Islands' 'South Sinai Peninsula'
 'Maine' 'Grand Canary Island' 'Binh Dinh Province' 'Sinai Peninsula'
 'Saint-Benoit' 'Merizo' 'Western Province' 'Maputo Province' 'New Jersey'
 'Fife' 'Devon' 'St. Johns Reef' 'Off Green Island' 'North Region'
 'Guantanamo Province' ' Split-Dalmatia Count,' 'Northern Territory'
 'US Virgin Islands' 'Guerro' 'Northern Bahamas' 'Loyalty Islands'
 'Grand Bahama Island' 'Red Sea' 'Territory of Cocos (Keeling) Islands'
 'Virginia' 'Kent' 'South Province' 'Guam' 'Vitu Levu' "Vava'u"
 'Simpson Bay' 'East Wall' 'Malampa Province' 'New Mexico'
 'Camaguey Province' 'Conservatória District' 'South Carolina '
 'Saint-Benoît' 'South Island, near Karitane north of Dunedin'
 'Anzoategui' 'Nueva Esparta' 'Southland' 'Caicos Bank' 'Maryland'
 'KwaZulu-Natal between Port Edward and Port St Johns' 'Taveuni'
 'Miyako Island' 'Saint-Pierre' 'Rio de Janeiro' 'Ralik Chain'
 'Grand Baie' "L' Etang Salé-les-Bains" 'Berry Islands' 'Gaza'
 'Chatham Islands ' 'Saint-Paul ' 'Vava\x92u' 'New Territories'
 'Aichi Prefecture' 'Saint-Denis' 'Costa Blanca' 'Walkers Cay'
 'Saint-Paul' 'Ehime Prefecture' 'Ligurian Sea' "L'Etang-Salé"
 'Port Shelter' 'Tyrrhenian Sea' 'Sicily' 'Chungnam' "Grand'Anse"
 'Baja California' 'Istria County' 'Eastern Caroline Islands'
 'Magdalena Department' 'Out Islands' 'New Ireland Province'
 'Duke of York Islands' 'Western Caroline Islands'
 'Bougainville (North Solomons)' 'Victoria ' 'Northern Taiwan' 'Vita Levu'
 'Gulf Province' ' Lau Province' 'Ysabel Island' 'Thessaly'
 'Lomaiviti  Island Group' 'Veracruz' 'Grand Turk Island'
 'Northern District' 'Madang' '10ºS, 142ºE' 'Kwajalein Atoll'
 'Torres Strait' 'Primorje-Gorski Kotar County ' 'Adriatic Sea'
 'Wake Island (EnenKio)' 'Paget' '33N, 68W' 'Kadavu' 'North Palawan'
 'Wakayama Prefecture' 'Tutuila Island' 'Cat Cay'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Milne Bay Province'
 'Near Dakar, Cap Vert Peninsula' 'Buenos Aires Province'
 'Madang Province' ' La Libertad' 'Jakarta Harbour' 'Attica' 'Basrah'
 'Gulf of Panama' 'Cay Sal Bank' 'Andros Islands' 'Basrah City'
 'Queensland ' 'Golfo di Genova in the Ligurian Sea' 'Westmoreland Parish'
 'Hoogly River' 'St. Anne' nan 'St Helena' 'Sussex' "Côte d'Azur "
 'Havana Province' 'Skagerrak arm of the North Sea'
 'Las Perlas archipelago' 'Bardestrand' 'Southwest coast' 'West Bengal'
 'New York ' 'Kerala' 'Nice & Marseilles' 'Magarita or Cubagua Islands'
 'Ionian Sea' 'Piraeus' 'Off Thessaly' 'Mombasa' 'Bocas del Toro Province'
 'Rocha' 'Rocha ' 'Morobe Province' 'Canary Islands' 'Red Sea State'
 'Gulf of Tadjoura' 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Inhambane Province' 'Malaita Province'
 'South Korea' 'Khuzestan Province' 'Milne Bay  Province'
 'Island of Volos' 'Amirante Islands' 'Kadavu Island Group'
 'Toamasina Province' 'Riau Province' 'Maharashtra'
 'Lake Nicaragua (fresh water)' 'Bikini Atoll' 'Phoenix Islands'
 'Gilbert Islands' 'New Georgia' 'Eastern Province'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island' 'North Carolina ']

 ------------------------------------------------------------

En la columna LOCATION tenemos los siguientes valores unicos
['Oceanside, San Diego County' 'Piedade Beach, Recife'
 'Cocoa Beach, Brevard  County' ... 'Ocracoke Inlet'
 'Panama Bay 8ºN, 79ºW' 'Below the English fort, Trincomalee']

 ------------------------------------------------------------

En la columna ACTIVITY tenemos los siguientes valores unicos
['Paddling' 'Swimming' 'Walking' 'Feeding sharks' 'Fishing' 'Scuba diving'
 'Surfing' 'Paddle-skiing' 'Stand-Up Paddleboarding' 'Wading'
 'Spearfishing' 'Night bathing' 'Kayaking / Fishing' 'Snorkeling' 'SUP'
 'Kayaking' 'Body boarding' 'Scuba Diving' 'Surf skiing ' 'Surf fishing'
 'Floating' 'SUP Foil boarding' 'Kite surfing' 'Floating in tube'
 'Standing' 'Diving' 'Teasing a shark' 'Paddle boarding' 'Kayak Fishing'
 'Surf-skiing' 'Scallop diving on hookah' 'Body boarding '
 'Playing in the water' 'Body Boarding' 'Boogie boarding' 'Playing'
 'Standing / Snorkeling' 'Hand feeding sharks' 'Rowing' 'Shark fishing'
 'Fishing ' 'Kayaking ' 'Body surfing' 'Shark diving'
 'Diving for lobsters' 'Kitesurfing' 'Kiteboarding' 'Diving '
 'Swimming / snorkeling' 'Diving for Abalone' 'Casting a net'
 'Cleaning fish' 'Boogie Boarding' 'Playing in the surf' 'Kite boarding'
 "Fishing - 'tag & release'" 'Bodyboarding' 'Swimming or boogie boarding'
 'Free diving ' 'Sitting in the water'
 'Attempting to rescue an injured & beached shark'
 'Free diving / spearfishing' 'Diving, feeding sharks' 'Kite Surfing'
 'Swimming or Snorkeling' 'Kite Boarding'
 'Washing sand off a speared fish' 'Surfing ' 'Wakeboarding'
 'Diving for abalone' 'Rescuing' 'Measuring sharks'
 'Swimming / treading water' 'Spearfishing (free diving)' 'Wade Fishing'
 'Crawling' 'Diving, but on the surface when bitten by the shark'
 'Treading water' 'Walking out of the water after surfing' 'Jet skiing'
 "Accidentally stood on hooked shark's tail before attempting to gut it "
 'Jumping' 'Floating near boat & observing bioluminesce'
 'Jumped into the water' 'Reviving a sedated shark'
 'Swimming / jumping off a jetty' 'Swimming / Body Surfing'
 'Playing soccer in the water' 'Lifesaving drill' 'Free diving'
 'Fishing for sharks' 'Standing / Surfing'
 'Boogie boarding, kicked at object in the water'
 'Holding onto an inflatable boat' 'Swimming with boogie board'
 'Spearfishing (Free diving)' 'Diving in aquarium display tank'
 'Fishing from a kayak' 'Scurfing (surfboard being  towed behind a boat)'
 'Chumming for white sharks' 'Bathing'
 'Wading / fishing & carrying a bag of fish'
 'Swimming, poaching perlemoen' 'Free diving & spearfishing'
 'Tandem surfing' 'Wading near a fishing net' 'Standing, stepped on shark'
 'Swimming, wearing black wetsuit & swim fins' 'Sitting on surfboard'
 'Walking, carrying surfboard & stepped on shark'
 'Swimming with pod of dolphins' 'Swimming (using a float)' 'Unknown'
 'Fishing from Surfboard' 'Boogie boarding or Surfing' 'Surf skiing'
 'Wading, when he stepped on the shark' 'Shark Fishing'
 'Snorkeling (filming the sardine run)' 'Floating on a raft'
 'Fishing, removing the shark from his line'
 'Scallop diving (using surface-supplied air & a POD) '
 'Surfing, but standing in water alongside board' 'Swimming / Wading'
 'Body-boarding' 'Swimming /  boogie boarding'
 'Surfing, fell off surfboard & stepped on the shark.'
 'Wreck / Technical diving' 'Swimming ' 'Standing alongside surfboard'
 'Swimming back from anchored sailboat' 'Swimming / Body surfing'
 'Windsurfing, but sitting on his board' 'Surfing / Wading'
 'Spearfishing, holding mesh bag with speared fish'
 'Spearfishing, but swimming at surface' 'Surfing, lying on surfboard'
 "Lying prone in 2' of water" 'Spearfishing & holding catch'
 'Swimming with dolphins' 'Wading in school of baitfish'
 'Splashing / wading' 'Windsurfing'
 'Swimming after being swept into sea by a large wave'
 'Swimming near pod of whales' 'Free diving for abalone'
 'Towing rubber dinghy' 'Surfing (lying prone on his board)'
 'Snorkeling \x96 hunting crayfish and abalone'
 'Swimming or paddle boarding' 'Scuba diving (submerged riding a scooter)'
 'Body boarding or surfing' 'Surfing (sitting on his board)'
 'Wading / Surfing' 'Body surfing, stood up on sandbar'
 'Surfing / Swimming' 'Wade fishing' 'Swimming breast stoke'
 'Dived naked into the water on a bet' 'Swimming with mask & snorkel'
 'Playing / standing' 'Abalone diving using Hookah (near calving whales)'
 'Abalone diving using Hookah (resting on the surface)'
 'Scuba diving (ascending using scooter)' 'Scuba diving for bivalves'
 'Commercial diver (submerged or treading water)'
 'Surfing, paddling seawards' 'Jumped off rocks into white water'
 'Hookah diving' 'Riding floatation device'
 'Free diving for abalone (ascending)'
 'Paddling on surfboard or body board' 'Scuba diving at seal colony'
 'Paddling on surfboard' 'Free diving & spearfishing (ascending)'
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish'
 'Lying on surfboard' 'Spearfishing / free diving'
 'Scuba diving (submerged)' 'Hookah diving for sea urchins'
 'Hookah diving for pen shells ' 'Finning the shark that bit him'
 'Canoeing' 'Swimming behind sailboat' 'Surfing, collided with shark'
 'Free diving / spearfishing, from paddleboard & floating on the surface'
 'Scuba diving (but on surface)' 'Resting on surfboard'
 'Lying on surfboard & paddling' "Fishing, stepped on hooked shark's head"
 'Hookah diving for abalone (descending)' 'Feeding fish'
 'Scuba diving, but swimming on surface' 'Surfing with dolphins'
 'Sittting in water with his child' 'Lying atop surfboard'
 "Attempting to lasso shark's tail"
 'Free diving  & spearfishing (submerged)' 'Racing ski'
 'Hookah diving for abalone' 'Free diving for scallops'
 'Scuba Diving for lobster (at surface)'
 'Sailing on catamaran & fell into the water' 'Surfing or body surfing'
 'Skindiving' 'Towing her sister on plastic ski board'
 'Swimming from the New Venture '
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water'
 'Water-skiing' 'Paddleskiing'
 'Free diving for abalone from Zodiac (submerged)' 'Paddle Boarding'
 'Snorkeling on surface' 'Shell diving' 'Standing / Wading'
 'Free diving for abalone (surfacing)' 'Spearfishing / Scuba diving'
 'Hookah diving for abalone (submerged)'
 'Thrashing the water / imitating the shark victim from "Jaws"'
 'Scuba diving & spearfishing' 'Floating on a small orange raft '
 'Scuba diving for abalone' 'Scuba diving for abalone (at surface)'
 'Swimming underwater from crayfish cage to a fishing bait'
 'Free diving (but on surface)' 'Free diving, Spearfishing'
 'Sitting in shallows' 'Scuba diving & feeding fish'
 'Feeding mullet to sharks' 'Dynamite fishing' 'Spearfishing using Scuba'
 'Wading & pushing dinghy toward  the shallows' 'Standing on sandbar'
 'Pulling shark from the water'
 'Spearfishing, dived to pick up a float line'
 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)'
 'Photographing sharks underwater using Scuba'
 'Free diving, carrying speargun' 'Diving into water'
 'Spearfishing on Scuba' 'Killing a shark' 'Clamming'
 'Helping men land a shark'
 'Free diving / spearfishing (resting on the surface)' 'Walking on reef'
 'Paddling rescue ski' 'Canoe swamped, swimming back to canoe'
 'Free diving with seals' 'Surfing, but swimming to his board'
 'Floating on his back in an inner tube' 'Spearfishing using scuba'
 'Attempting to swim across the Atlantic Ocean' 'Skin diving '
 'Spearfishing / Scuba diving (at surface)'
 'Helping friend land hooked shark' 'Splashing in surf'
 'Treading water while alongside capsized yacht'
 'Fishing / standing in waist deep water' 'Surf fishing, wading '
 'Spearing fish' 'Spearfishing, pulled shark\x92s tail'
 'Free diving, hunting crayfish' 'Spearfishing with Scuba gear'
 'Surf fishing in waist-deep water' 'Fishing for albacore'
 'Rolled off raft' 'Scuba diving, attempting to catch a captive shark'
 'Splashing ' 'Fishing, slipped on rocks & fell into sea'
 "Fishing with hand net in 2' of water" 'Surfing, pushing board ashore'
 'Swimming with other crew near wharf'
 'Net fishing, picking catch from the net' 'Walking in chest-deep water'
 'Checking fish traps, fell into the water'
 'Swimming, using bundles of sticks as raft'
 'Spearfishing, shark grabbed his white t-shirt and towed him '
 'Collecting aquarium specimens'
 'Fishing, when line became snagged on rock & he dived into water to free it '
 'Holding shark on leader & dangling it above the water'
 'Fishing, tossing netted shark onboard'
 'Free diving but treading water at surface'
 'Skindiving for abalone (but at surface)' 'Wading, fishing for flounder'
 'Standing in chest-deep water' 'Trailing the field in a surf race'
 "Swimming at surface through school of feeding 2.5' to 5\x92 sharks"
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore"
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas'
 'Spearfishing (but on surface)' 'Working prawn net'
 'In deep water about 100 yards from his ship'
 'Surfing, but treading water' 'Surfing on air mattress'
 'Cleaning hull of ship '
 'Swimming, ducking for shells in water 0.9 m deep'
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.'
 'Spearfishing, had fish on his spear' 'Paddling in knee-deep water'
 'Swimming with goggles'
 'Competing in spearfishing championship & towing dead fish'
 'Swimming between  anchored  pearling luggers' 'Skindiving, fish at belt'
 'Swimming near pier' 'Swimming, attacked at  surf carnival'
 'Hunting lobsters in 2.4 m of water' 'Pearl diving from lugger Whyalla'
 'Crouching in the water' 'Fishing, setting nets'
 'Body surfing & treading water' 'Fell off surf ski'
 'Body surfing / treading water'
 'Jerked overboard while pole fishing for tuna' 'Bending over'
 'Free diving or wading back to shore' 'Bathing in water 0.9 m deep'
 'Lifesaving exhibition' 'Underwater photography'
 'Swimming after a tennis ball' 'Jumping in swells'
 'Dived overboard to check propeller of US Navy motor torpedo boat'
 'Dog paddling or standing' 'Swimming along side N.E.L. vessel Saluda'
 "Fishing from 32' boat"
 'Dress diving, filming shark & pulling it through the water for a motion picture scene'
 'Swimming, naked' 'Diving off jetty'
 'Diving from the lugger San, operated by the Protector of the Aborigines'
 'Refused permission to cross on the ferry, he was swimming across the river'
 'Swimming crawl stroke' 'Diving for trochus'
 'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared'
 'Fell overboard, hanging onto lifebuoy' 'Splashing'
 'Swimming in waist-deep water ' 'Swimming in hip-deep water'
 'Swimming on sandbar adjacent to channel'
 'Collecting fish by lamplight in gully'
 'Diving off pier & treading water' 'Standing in knee-deep water'
 'Swimming with dog near canning factory' 'Floating on his back'
 'Bathing in waist-deep water' 'Had just dived into water & was swimming'
 "Bathing in 3' to 4' of water" 'Bathing in knee-deep water'
 'Washing horses' "a corsair's boat was overturned" 'Dropped overboard'
 nan 'Washing himself' 'Murder'
 'Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."'
 'Fell overboard' 'Pearl diving' 'Went overboard'
 'Ship lay at anchor & man was working on its rudder'
 'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship'
 'Sponge diving' 'Ascending from a dive'
 'Washing his pig in preparation for a religious ceremony'
 'Shipwrecked Persian Fleet' 'Shipwreck' 'Swimming/' 'Swimming to canoe'
 'Fell into the water' 'Fishing for basking sharks' 'Collecting fish '
 'Skin diving' 'Shark tagging' 'A dhow capsized' 'Net-fishing'
 'Netting shrimp' 'Fishing?' 'Spearfishing ' 'Wade-fishing'
 'Free diving for sponges' 'Helmet diving' 'yachtsman in a zodiac'
 'Attempting to drive shark from area'
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water"
 'Crossing river on a raft' 'Free diving, collecting sand dollars'
 'Swimming from capsized pirogue'
 'Fishing from a small boat & put his hand in the water while holding a dead fish'
 'Swimming naked near a date palm where many dates fell into the water'
 'Swimming in section of river used for washing clothes & cooking utensils'
 'Swimming with fish attached to  belt'
 'Testing movie camera in full diving dress' 'Swimming near anchored ship'
 'Lashing logs together when he fell into the water'
 'Shark fishing, knocked overboard' 'Fishing, wading with string of fish'
 'A group of survivors on a raft for 17-days'
 'Fishing in ankle-deep water'
 'Standing, washing rear wheels of his ambulance in ankle-deep water'
 'Carrying a supposedly dead shark by its mouth' 'Spent 8 days in dinghy'
 'Aircraft ditched in the sea, swimming ashore' 'Wooden fishing boat'
 'Swimming in pool formed by construction of a wharf'
 'Swimming around anchored ship'
 'Crew swimming alongside their anchored ship' '4 men were bathing'
 'Wreck of  large double sailing canoe']

 ------------------------------------------------------------

En la columna NAME tenemos los siguientes valores unicos
['Julie Wolfe' 'Jose Ernesto da Silva ' 'Cody High' ... 'Ahmun'
 'Coast Guard personnel' 'Jules Patterson']

 ------------------------------------------------------------

En la columna SEX_ tenemos los siguientes valores unicos
['F' 'M' 'lli' nan]

 ------------------------------------------------------------

En la columna AGE tenemos los siguientes valores unicos
['57' '18' '15' '32' '21' '30' '60' '33' '19' '25' '10' '69' '55' '35'
 '20' '54' '22' '31' '40' '37' '11' '13' '34' '50' '46' '48' '17' '28'
 '65' '73' '58' '36' '60s' '51' '61' '59' '42' '6' '27' '23' '29' '39'
 '24' '12' '26' '71' '43' '9' '44' '14' '62' '52' '38' '68' '16' '47' '63'
 '70' '41' '40s' '53' '20s' '7' '66' '45' '74' '64' '8' '56' '49'
 '18 or 20' 'Teen' '30s' '77' '8 or 10' '84' '\xa0 ' '_' '30 or 36' '6½'
 '5' ' 30' ' 28' "60's" '67' '>50' '? & 19' '21, 34,24 & 35' '30 & 32'
 '13 or 18' '7 or 8' '9 or 10' nan 'young' '13 or 14']


In [52]:
for col in categoricas.columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(categoricas[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

En la columna TYPE tenemos los siguientes valores unicos
              TYPE
Unprovoked    1432
Provoked       115
Invalid         92
Boating         17
Sea Disaster    12
Boat             4

 ------------------------------------------------------------

En la columna COUNTRY tenemos los siguientes valores unicos
                    COUNTRY
USA                     741
AUSTRALIA               343
SOUTH AFRICA            234
BAHAMAS                  29
NEW ZEALAND              21
...                     ...
GREENLAND                 1
ST. MAARTIN               1
UNITED KINGDOM            1
SWEDEN                    1
CEYLON (SRI LANKA)        1

[95 rows x 1 columns]

 ------------------------------------------------------------

En la columna AREA tenemos los siguientes valores unicos
                                                    AREA
Florida                                              346
California                                           137
New South Wales                                      137
Hawaii                                               108
Western Cape Province                                 83
...                                                  ...
KwaZulu-Natal between Port Edward and Port St J...     1
Miyako Island                                          1
Saint-Pierre                                           1
Ralik Chain                                            1
North Carolina                                         1

[236 rows x 1 columns]

 ------------------------------------------------------------

En la columna LOCATION tenemos los siguientes valores unicos
                                     LOCATION
New Smyrna Beach, Volusia County           73
Myrtle Beach, Horry County                  7
Nahoon                                      7
Daytona Beach, Volusia County               7
Melbourne Beach, Brevard County             6
...                                       ...
Kangaroo Island                             1
Sunny Cove, Fish Hoek                       1
Jack McKenney's Canyon                      1
Honokowai, Maui                             1
Below the English fort, Trincomalee         1

[1310 rows x 1 columns]

 ------------------------------------------------------------

En la columna ACTIVITY tenemos los siguientes valores unicos
                                      ACTIVITY
Surfing                                    426
Swimming                                   240
Spearfishing                               105
Fishing                                     56
Wading                                      53
...                                        ...
Playing / standing                           1
Swimming with mask & snorkel                 1
Dived naked into the water on a bet          1
Swimming breast stoke                        1
Wreck of  large double sailing canoe         1

[404 rows x 1 columns]

 ------------------------------------------------------------

En la columna NAME tenemos los siguientes valores unicos
                   NAME
male                 97
female               16
males                 4
child                 3
Andre Hartman         3
...                 ...
Elizabeth Gardner     1
Clair Parrett         1
Brad Satchell         1
Josh Berris           1
Jules Patterson       1

[1536 rows x 1 columns]

 ------------------------------------------------------------

En la columna SEX_ tenemos los siguientes valores unicos
     SEX_
M    1294
F     207
lli     1

 ------------------------------------------------------------

En la columna AGE tenemos los siguientes valores unicos
          AGE
19         70
18         60
20         58
15         57
17         57
...       ...
64          1
74          1
40s         1
60s         1
13 or 14    1

[94 rows x 1 columns]

 ------------------------------------------------------------

En la columna TIME tenemos los siguientes valores unicos
                     TIME
11h00                  74
Afternoon              69
16h00                  53
15h00                  51
Morning                50
...                   ...
23h00                   1
Just before sundown     1
"Evening"               1
12h39                   1
Before 10h30            1

[248 rows x 1 columns]

 ------------------------------------------------------------

En la columna SPECIES_ tenemos los siguientes valores unicos
                                                SPECIES_
White shark                                           74
4' shark                                              34
Tiger shark                                           34
Bull shark                                            28
Shark involvement not confirmed                       26
...                                                  ...
Bronze whaler shark, 2.4 m [8']                        1
Tiger shark, 2.4 m to 3.7 m [8' to 12']                1
Raggedtooth shark, 1.5 to 2 m [5' to 6.75']            1
Thought to involve a 2.5 m bull or tiger shark         1
Identified as C. gangeticus by Dr. J. Fayrer           1

[834 rows x 1 columns]

 ------------------------------------------------------------

En la columna PDF tenemos los siguientes valores unicos
                                   PDF
2018.06.25-Wolfe.pdf                 1
1975.07.15-BeverlyWhite-X.pdf        1
1979.11.27-KennyDoudt_Collier.pdf    1
1980.00.00.b-Mitchley.pdf            1
1980.01.10-Austin.pdf                1
...                                ...
2005.10.13-Sado.pdf                  1
2005.10.19-Halavais.pdf              1
2005.10.21-Reiker.pdf                1
2005.10.22-vanZyl.pdf                1
ND-0001-Ceylon.pdf                   1

[1672 rows x 1 columns]

 ------------------------------------------------------------

En la columna HREF tenemos los siguientes valores unicos
                                                    HREF
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
...                                                  ...
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1

[1672 rows x 1 columns]

 ------------------------------------------------------------

En la columna CASE NUMBER tenemos los siguientes valores unicos
            CASE NUMBER
1800.00.00            1
ND.0057               1
ND.0066               1
ND.0065               1
ND.0064               1
...                 ...
ND-0138               1
ND-0136               1
ND-0135               1
ND-0134               1
ND.0001               1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna SPECIES  tenemos los siguientes valores unicos
                                                    SPECIES
Bull shark                                                 4
Tiger shark                                                3
Blue pointer                                               2
White shark                                                2
Questionable                                               2
1.8 m [6'] shark                                           2
Tiger shark?                                               1
White shark, 1,900-lb                                      1
0.9 m [3'] shark                                           1
"A pack of sharks"                                         1
White shark, 7' to 8'                                      1
Bull shark caught, leg recovered & buried besid...         1
Nurse shark, 2.1 m [7']                                    1
Shovelnose guitarfish, adult male                          1
1.2 m [4'] shark                                           1
"a black-tipped shark"                                     1
6' shark                                                   1
12' tiger shark                                            1
Blue pointers                                              1
Invalid                                                    1
A large hammerhead shark                                   1
Nurse shark, 2.1 m [7']                                    1
White sharks                                               1
Silvertip shark                                            1
Whale shark                                                1
said to involve 2.5 m hammerhead sharks                    1
Blacktip shark, 5'                                         1
Basking shark                                              1
 Galapagos shark, 6'                                       1
Possibly white sharks                                      1
White shark, 1600-lb female                                1
Shark involvement prior to death unconfirmed               1
"The fish was harpooned, dried, and presented t...         1
Description of shark does not ring true                    1
Said to involve a grey nurse shark that leapt o...         1

 ------------------------------------------------------------

En la columna INVESTIGATOR OR SOURCE tenemos los siguientes valores unicos
                                                    INVESTIGATOR OR SOURCE
C. Moore, GSAF                                                           9
B.W. Coad & L.A.J. Al-Hassan                                             4
G.F. Mead                                                                3
NY Sun, 9/9/1906, referring to account by Louis...                       3
C.Moore, GSAF                                                            3
...                                                                    ...
Courier Mail, 6/30/1951                                                  1
The Advertiser (Adelaide), 6/2/1933                                      1
WBTV-News3                                                               1
C. Mendieta & A. Duarte                                                  1
S.W. Baker                                                               1

[142 rows x 1 columns]

 ------------------------------------------------------------

En la columna HREF FORMULA tenemos los siguientes valores unicos
                                                    HREF FORMULA
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
...                                                          ...
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1
http://sharkattackfile.net/spreadsheets/pdf_dir...             1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna CASE NUMBER.1 tenemos los siguientes valores unicos
            CASE NUMBER.1
1800.00.00              1
ND.0057                 1
ND.0066                 1
ND.0065                 1
ND.0064                 1
...                   ...
ND-0138                 1
ND-0136                 1
ND-0135                 1
ND-0134                 1
ND.0001                 1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna CASE NUMBER.2 tenemos los siguientes valores unicos
            CASE NUMBER.2
1800.00.00              1
ND.0057                 1
ND.0066                 1
ND.0065                 1
ND.0064                 1
...                   ...
ND-0138                 1
ND-0136                 1
ND-0135                 1
ND-0134                 1
ND.0001                 1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna INJURY tenemos los siguientes valores unicos
                                                    INJURY
Lacerations to leg from hooked shark PROVOKED I...    1502
FATAL                                                   52
Foot bitten                                              4
Foot severed                                             4
FATAL, leg severed                                       3
...                                                    ...
Posterior thigh bitten                                   1
Cut to arm while roping shark PROVOKED INCIDENT          1
FATAL PROVOKED INCIDENTS                                 1
Minor laceration to hand                                 1
FATAL. "Shark bit him in half, carrying away th...       1

[99 rows x 1 columns]

 ------------------------------------------------------------

En la columna fecha tenemos los siguientes valores unicos
     fecha
Jul      2
Dec      2
Mar      2
Sep      1
May      1
Aug      1

 ------------------------------------------------------------

En la columna FATALIDAD tenemos los siguientes valores unicos
   FATALIDAD
N       1573
Y         86

 ------------------------------------------------------------

En la columna SEX_UAL tenemos los siguientes valores unicos
   SEX_UAL
M     1378
F      294

 ------------------------------------------------------------

In [53]:
for col in categoricas.columns:
    pd.DataFrame(categoricas[col].value_counts())

In [54]:
for col in categoricas.columns:
      print(df[col].unique())
      nuevo= pd.DataFrame( df[col], df[col].unique())

['Boating' 'Unprovoked' 'Provoked' 'Invalid' 'Sea Disaster' 'Boat']

C:\Users\marta\AppData\Local\Temp\ipykernel_25532\1308254860.py:3: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  nuevo= pd.DataFrame( df[col], df[col].unique())

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
for col in numericas.columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(numericas[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

En la columna YEAR tenemos los siguientes valores unicos
[2018. 2017. 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007.
 2006. 2005. 2004. 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996. 1995.
 1994. 1993. 1992. 1991. 1990. 1989. 1988. 1987. 1986. 1985. 1984. 1983.
 1982. 1981. 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973. 1972. 1971.
 1970. 1969. 1968. 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960. 1959.
 1958. 1957. 1956. 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948. 1947.
 1946. 1945. 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937. 1936. 1935.
 1934. 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925. 1924. 1922. 1919.
 1916. 1912. 1906. 1905. 1901. 1894. 1892. 1880. 1868. 1800. 1797. 1792.
 1791. 1788. 1787. 1786. 1785. 1784. 1783. 1780. 1779. 1776. 1771. 1767.
 1764. 1758. 1753. 1751. 1749. 1755. 1748. 1742. 1738. 1733. 1723. 1721.
 1703. 1700. 1642. 1638. 1637. 1617. 1595. 1580. 1555. 1554. 1543.  500.
   77.    5.    0.]

 ------------------------------------------------------------

En la columna UNNAMED: 0_x tenemos los siguientes valores unicos
[  nan 6132. 6133. 6134. 6135. 6136. 6137. 6138. 6139. 6140. 6141. 6142.
 6143. 6144. 6145. 6146. 6147. 6148. 6149. 6150. 6151. 6152. 6153. 6154.
 6155. 6156. 6157. 6158. 6159. 6160. 6161. 6162. 6163. 6164. 6165. 6166.
 6167. 6168. 6169. 6170. 6171. 6172. 6173. 6174. 6175. 6176. 6177. 6178.
 6179. 6180. 6181. 6182. 6183. 6184. 6185. 6186. 6187. 6188. 6189. 6190.
 6191. 6192. 6193. 6194. 6195. 6196. 6197. 6198. 6199. 6200. 6201. 6202.
 6203. 6204. 6205. 6206. 6207. 6208. 6209. 6210. 6211. 6212. 6213. 6214.
 6215. 6216. 6217. 6218. 6219. 6220. 6221. 6222. 6223. 6224. 6225. 6226.
 6227. 6228. 6229. 6230. 6231. 6232. 6233. 6234. 6235. 6236. 6237. 6238.
 6239. 6240. 6241. 6242. 6243. 6244. 6245. 6246. 6247. 6248. 6249. 6250.
 6251. 6252. 6253. 6254. 6255. 6256. 6257. 6258. 6259. 6260. 6261. 6262.
 6263. 6264. 6265. 6266. 6267. 6268. 6269. 6270. 6271. 6272. 6273. 6274.
 6275. 6276. 6277. 6278. 6279. 6280. 6281. 6282. 6283. 6284. 6285. 6286.
 6287. 6288. 6289. 6290. 6291. 6292. 6293. 6294. 6295. 6296. 6297. 6298.
 6299. 6300. 6301.]

 ------------------------------------------------------------

En la columna ORIGINAL ORDER tenemos los siguientes valores unicos
[ nan 171. 170. 169. 168. 167. 166. 165. 164. 163. 162. 161. 160. 159.
 158. 157. 156. 155. 154. 153. 152. 151. 150. 149. 148. 147. 146. 145.
 144. 143. 142. 141. 140. 139. 138. 137. 136. 135. 134. 133. 132. 131.
 130. 129. 128. 127. 126. 125. 124. 123. 122. 121. 120. 119. 118. 117.
 116. 115. 114. 113. 112. 111. 110. 109. 108. 107. 106. 105. 104. 103.
 102. 101. 100.  99.  98.  97.  96.  95.  94.  93.  92.  91.  90.  89.
  88.  87.  86.  85.  84.  83.  82.  81.  80.  79.  78.  77.  76.  75.
  74.  73.  72.  71.  70.  69.  68.  67.  66.  65.  64.  63.  62.  61.
  60.  59.  58.  57.  56.  55.  54.  53.  52.  51.  50.  49.  48.  47.
  46.  45.  44.  43.  42.  41.  40.  39.  38.  37.  36.  35.  34.  33.
  32.  31.  30.  29.  28.  27.  26.  25.  24.  23.  22.  21.  20.  19.
  18.  17.  16.  15.  14.  13.  12.  11.  10.   9.   8.   7.   6.   5.
   4.   3.   2.]

 ------------------------------------------------------------

En la columna UNNAMED:22 tenemos los siguientes valores unicos
[nan]

 ------------------------------------------------------------

En la columna UNNAMED: 23 tenemos los siguientes valores unicos
[nan]

 ------------------------------------------------------------

In [ ]:
for col in numericas.columns:
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(numericas[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

En la columna YEAR tenemos los siguientes valores unicos
        YEAR
0.0      125
2015.0    68
2007.0    57
2012.0    54
2002.0    53
...      ...
1785.0     1
1783.0     1
1780.0     1
1779.0     1
1784.0     1

[147 rows x 1 columns]

 ------------------------------------------------------------

En la columna UNNAMED: 0_x tenemos los siguientes valores unicos
        UNNAMED: 0_x
6132.0             1
6248.0             1
6240.0             1
6241.0             1
6242.0             1
...              ...
6190.0             1
6191.0             1
6192.0             1
6193.0             1
6301.0             1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna ORIGINAL ORDER tenemos los siguientes valores unicos
       ORIGINAL ORDER
171.0               1
55.0                1
63.0                1
62.0                1
61.0                1
...               ...
113.0               1
112.0               1
111.0               1
110.0               1
2.0                 1

[170 rows x 1 columns]

 ------------------------------------------------------------

En la columna UNNAMED:22 tenemos los siguientes valores unicos
Empty DataFrame
Columns: [UNNAMED:22]
Index: []

 ------------------------------------------------------------

En la columna UNNAMED: 23 tenemos los siguientes valores unicos
Empty DataFrame
Columns: [UNNAMED: 23]
Index: []

 ------------------------------------------------------------

Conclusiones:


¿De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.


Por ejemplo:
- ¿Hay alguna columna que no tenga sentido su tipo de datos?
- ¿Hay alguna columna que no tenga sentido su nombre?
- ¿Hay alguna columna que no tenga sentido su contenido?
- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

In [ ]:

# En la columna NAME hay bastantes datos que no se corresponden a esta categoria y bnos dicen el género de la persona afectada y hasta la categoría de edad de 
# alguno de ellos (child).

# En la columna SEX hay un dato llamado lli que no se corresponde a ningun género.

# En la columna TIME las categorías no están ordenadas. Hay algunos datos que estan por franjas horarias que abarcan un número de horas mientras que otros estan
# en horas concretas.

# La columna SPECIES no aporta el nombre de la especie como tal si no un abánico en el que hay desde descripciones ambiguas hasta especificaciones de tamaños y pesos.